
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>Kategori ID</th>
            <th>Kategori Adı</th>
            <th>Kategori Durum</th>
            <th>Detaylar</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Sebze-Meyve</td>
            <td>Aktif</td>
            <td>
                <button class="btn btn-primary">Detaylar</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>İçecek</td>
            <td>Aktif</td>
            <td>
                <button class="btn btn-primary">Detaylar</button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Tatlılar</td>
            <td>Aktif</td>
            <td>
                <button class="btn btn-primary">Detaylar</button>
            </td>
        </tr>
    </table>
</div>