@model List<PortfolioProject.Models.Category>

@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Kategori Listesi ve İşlemleri</h2>

<a href="/Category/CreateCategory/" class="btn btn-info">Yeni Kategori Ekleme</a>

<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryID</th>
            <td>@item.CategoryName</td>
            <td>
                <a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-warning">Güncelle</a>
                <a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>