
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />

    <div class="alert alert-success">Yeni Kategori Girişi</div>

    <label>Kategori Adı</label>
    <input type="text" class="form-control" />
    
    <br />

    <label>Kategori Açıklaması</label>
    <textarea rows="4" class="form-control"></textarea>
    
    <br />
    
    <button class="btn btn-primary">Kategoriyi Oluştur</button>
</div>