@model PortfolioProject.Models.Category

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Kategori Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.CategoryID)
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kategoriyi Güncelle</button>
</form>