@model PortfolioProject.Models.About

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Hakkımda Bilgileri Görüntüleme ve Güncelleme Sayfası</h2>

<form method="post">
    @Html.HiddenFor(x => x.AboutID)
    <label>Hakkımda Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Hakkımda Görseli</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Hakkımda Yazısı</label>
    @Html.TextAreaFor(x => x.Description, 5, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Hakkımda Alanını Güncelle</button>
</form>