
@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Admin/Index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Mesajı Aç</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Elif Yıldırım</td>
        <td>Proje Talebi</td>
        <td>
            <a href="#" class="btn btn-warning">Mesajı Aç</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Vasfi Ölmez</td>
        <td>Proje Desteği</td>
        <td>
            <a href="#" class="btn btn-warning">Mesajı Aç</a>
        </td>
    </tr>
    <tr>
        <td>3</td>
        <td>Hasan Bilik</td>
        <td>Freelance İş</td>
        <td>
            <a href="#" class="btn btn-warning">Mesajı Aç</a>
        </td>
    </tr>
</table>