@model List<PortfolioProject.Models.Portfolio>

<div class="container-fluid" id="pigraPortfolio">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-3">
                <div class="portfolio-header h-100 bg-dark pt-6 pe-6 pb-6">
                    <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                        <p class="text-white sub-title">Portfolyo</p>
                        <h1 class="display-6 text-white mb-0">Gerek Müşterilere Gerekse de Kendimi Geliştirmek Adına Yaptığım Projeler</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="portfolio-content h-100 pt-6 ps-6 pb-6">
                    @foreach (var item in Model)
                    {
                        <div class="portfolio-item py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                            <div class="row g-4 align-items-center">
                                <div class="col-xl-6">
                                    <h4 class="text-body">@item.Category</h4>
                                    <h1 class="display-6 mb-0">@item.Title</h1>
                                </div>
                                <div class="col-9 col-xl-4">
                                    <div class="portfolio-img">
                                        <div class="portfolio-img-inner">
                                            <img src="@item.ImageUrl" class="img-fluid" alt="Image">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-xl-2">
                                    <div class="view-img">
                                        <a href="@item.ImageUrl" class="btn btn-primary btn-lg-square" data-lightbox="Portfolio-1"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>