@model List<PortfolioProject.Models.SocialMedia>

<div class="d-flex">
    @foreach (var item in Model)
    {
        <a class="btn btn-primary btn-sm-square me-3" href="@item.Url"><i class="@item.Icon text-white"></i></a>
    }
</div>