@model List<PortfolioProject.Models.SocialMedia>

<div class="d-flex justify-content-center">
    @foreach (var item in Model)
    {
        <a class="btn btn-light btn-md-square me-3" href="@item.Url"><i class="@item.Icon"></i></a>
    }
</div>