<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="#pigraHome" class="nav-item nav-link active"><span class="fa fa-home"></span> Ana Sayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="far fa-address-card"></span> Hakkımda</a>
            <a href="#pigraEducation" class="nav-item nav-link"><span class="fas fa-school"></span> Eğitimler</a>
            <a href="#pigraInternship" class="nav-item nav-link"><span class="fas fa-user-tie"></span> Stajlar</a>
            <a href="#pigraExperience" class="nav-item nav-link"><span class="fas fa-address-book"></span> Deneyimler</a>
            <a href="#pigraSkill" class="nav-item nav-link"><span class="fa fa-code"></span> Yetenekler</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="fas fa-list"></span> Hizmetler</a>
            <a href="#pigraPortfolio" class="nav-item nav-link"><span class="fas fa-briefcase"></span> Portfolyo</a>
            <a href="#pigraTestimonial" class="nav-item nav-link"><span class="fab fa-replyd"></span> Referanslar</a>
            <a href="#pigraContact" class="nav-item nav-link"><span class="fas fa-envelope"></span> Bana Yazın</a>
            <a href="#pigraMapLocation" class="nav-item nav-link"><span class="fas fa-map"></span> Harita</a>
        </div>
    </nav>
</div>