@model List<PortfolioProject.Models.SocialMedia>

@{
    ViewBag.Title = "SocialMediaList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Sosyal Medya Hesaplarım ve İşlemleri</h2>

<a href="/SocialMedia/CreateSocialMedia/" class="btn btn-info">Yeni Sosyal Medya Hesabı Ekleme</a>

<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>URL</th>
        <th>İkon</th>
        <th>Durum</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.SocialMediaID</th>
            <td>@item.Title</td>
            <td>@item.Url</td>
            <td>@item.Icon</td>
            <td>
                @if (item.Status == false)
                {
                    <a href="/SocialMedia/ChangeSocialMediaStatusToTrue/@item.SocialMediaID" class="btn btn-success">Aktif Yap</a>
                }
                else
                {
                    <a href="/SocialMedia/ChangeSocialMediaStatusToFalse/@item.SocialMediaID" class="btn btn-dark">Pasif Yap</a>
                }
                <a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaID" class="btn btn-warning">Güncelle</a>
                <a href="/SocialMedia/DeleteSocialMedia/@item.SocialMediaID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>