@model List<PortfolioProject.Models.Skill>

@{
    ViewBag.Title = "SkillList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yetenek Listesi ve İşlemleri</h2>

<a href="/Skill/CreateSkill/" class="btn btn-info">Yeni Yetenek Girişi</a>

<br />
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Değer</th>
        <th>İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.SkillID</th>
            <td>@item.SkillName</td>
            <td>@item.Rate</td>
            <td>
                <a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-warning">Güncelle</a>
                <a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-danger">Sil</a>
            </td>
        </tr>
    }
</table>


@*

    1-) Uçak Bileti Rezervasyon
    2-) Booking
    3-) Sosyal Medya Uygulaması
    4-) MacFit Klonu
    5-) OBS
    6-) Online Eğitim Platformu
    7-) Bankacılık Uygulaması
    8-) Borsa Takip
    9-) Etkinlik/Organizasyon
    10-) Hayvan Sahiplendirme
    11-) Gratis Klonu
    12-) Film/Dizi Yorum Programı (Ekşi Sözlük)
    13-) Maçkolik
    14-) Sağlık MHRS
    
*@