<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(@ViewBag.ProfilePhoto); "></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="/Dashboard/Index">Dashboard</a></li>
            <li><a href="/Profile/Index">Profilim</a></li>
            <li><a href="/About/Index">Hakkımda</a></li>
            <li><a href="/Education/EducationList">Eğitim Hayatım</a></li>
            <li><a href="/Internship/InternshipList">Stajlarım</a></li>
            <li><a href="/Experience/ExperienceList">Deneyimlerim</a></li>
            <li><a href="/Skill/SkillList">Yeteneklerim</a></li>
            <li><a href="/Service/ServiceList">Hizmetlerim</a></li>
            <li><a href="/Portfolio/PortfolioList">Portfolyo</a></li>
            <li><a href="/Testimonial/TestimonialList">Referanslarım</a></li>
            <li><a href="/Message/Inbox/">Gelen Mesajlar</a></li>
            <li><a href="/Statistics/Index">İstatistikler</a></li>
            <li><a href="/SocialMedia/SocialMediaList">Sosyal Medya</a></li>
            <li><a href="/Chart/Index/">Grafik</a></li>
            <li><a href="/Category/CategoryList/">Kategoriler</a></li>
            <li><a href="#">Ayarlar</a></li>
            <li><a href="#">Çıkış Yap</a></li>

        </ul>

        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>