<div class="col-xl-5 wow fadeInUp" data-wow-delay="0.1s">
    <p class="mb-4">@ViewBag.Description <br /> <a class="text-primary fw-bold" href="~/Files/Fatih_Kurekci_CV_Turkce.pdf" target="_blank">CV'mi İndir</a></p>
    <div class="d-flex mb-4">
        <div class="btn-xl-square bg-primary text-white me-3">
            <i class="fas fa-map-marker-alt"></i>
        </div>
        <div>
            <h4>Adres</h4>
            <p class="mb-0">@ViewBag.Address</p>
        </div>
    </div>
    <div class="d-flex mb-4">
        <div class="btn-xl-square bg-primary text-white me-3">
            <i class="fas fa-envelope"></i>
        </div>
        <div>
            <h4>Email</h4>
            <p class="mb-0">@ViewBag.Email</p>
        </div>
    </div>
    <div class="d-flex">
        <div class="btn-xl-square bg-primary text-white me-3">
            <i class="fa fa-phone-alt"></i>
        </div>
        <div>
            <h4>Telefon</h4>
            <p class="mb-0">@ViewBag.Phone</p>
        </div>
    </div>
</div>