<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <iframe class="rounded w-100"
                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1064.7538553012027!2d29.029020697055678!3d40.990705578612214!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9f0b8afbb1f%3A0x703cd0993370cf84!2zS2FkxLFrw7Z5IEJvxJ9hIEhleWtlbGk!5e0!3m2!1str!2str!4v1728063011011!5m2!1str!2str"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>