
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Eğitim Bilgisi Girişi</h2>

<form method="post">
    <label>Başlık</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Alt Başlık</label>
    <input type="text" name="Subtitle" class="form-control" />
    <br />
    <label>Bölüm</label>
    <input type="text" name="Department" class="form-control" />
    <br />
    <label>Açıklama</label>
    <textarea rows="4" name="Description" class="form-control"></textarea>
    <br />
    <button class="btn btn-info">Eğitim Bilgisini Kaydet</button>
</form>